/* Minimo CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*.App {}*/

.Arena {
  height: 100vh;
  background: url(./Img/BG4.svg) no-repeat fixed center center;
  background-size: cover!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.escurecer{filter: brightness(50%)}
.Win {
  position: absolute;
  font-family: 'Segoe Script Black';
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 291px;
  color: #FFFFFF;
}
.Character {
  display: flex;
  justify-content: space-between;
}
.boxSelec{
  height: 100vh;
  width: 1%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.vs{
  position: absolute;
  align-self: center;
  top: 65vh;
  font-style: normal;
  font-weight: bold;
  font-size: 135px;
  line-height: 186px;
  background: linear-gradient(180deg, #FFB800 43.23%, #AD7D00 56.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.button{
  position: absolute;
  align-self: center;
  top: 25vh;
  background: #F6DD00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 30px;
}
.colorBlue{
  background: linear-gradient(180deg, #13499B 0%, #000000 100%);
  width: 49.5%;
}
.colorRed{
  background: linear-gradient(180deg, #A52626 0%, #000000 100%);
  width: 49.5%;
}
.textChoice{
  font-family: 'Segoe Script Black';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 102px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-shadow: 10px 10px 0px #000000;
}
.sizeLogo{
  height: 100px;
  width: 89px;
}
.alimImg{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.ativoBig{
  height: 380px;
  width: 353px;
}
.position{
  display: flex;
  flex-direction: column;
  align-items: center;
}