.Character {
  display: flex;
  justify-content: space-between;
}
.boxSelec{
  height: 100vh;
  width: 1%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.colorBlue{
  background: linear-gradient(180deg, #13499B 0%, #000000 100%);
  width: 49.5%;
}
.colorRed{
  background: linear-gradient(180deg, #A52626 0%, #000000 100%);
  width: 49.5%;
}
.alimImg{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.textChoice{
  font-family: 'Segoe Script Black';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 102px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-shadow: 10px 10px 0px #000000;
}
.position{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ativoBig{
  height: 380px;
  width: 353px;
}